@use "../variables" as v;

.dataSheet {
  &__scheme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 60%;
    height: 50%;
    background-color: v.$second-bg-color;
    border-radius: 4px;

    & * {
      text-align: center;
    }

    & h2 {
      text-decoration: underline;
    }
  }

  &__close {
    margin-top: 1rem;
  }
}
