@use "../variables" as v;

.movie-cont {
  &__bgimg {
    width: 100%;
    height: 48rem;
    background-repeat: no-repeat;
    background-size: cover;
    // background-position-y: -400px;
  }

  &__bginfo {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    gap: 0.8rem;
    //background-color: v.$first-bg-color;

    & h2,
    & div {
      color: v.$second-color;
    }

    & div {
      margin-bottom: 0.5rem;
    }

    & picture {
      position: absolute;
      top: -50px;
      width: 100%;
      text-align: center;
      background: linear-gradient(v.$first-bg-color, transparent);
    }

    & img {
      height: 70rem;
      width: 90%;
    }
  }

  &__bgdata {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    position: absolute;
    bottom: 20px;
    width: 85%;
  }

  &__btnTrailer {
    width: fit-content;
    padding: 0.3rem;
    color: v.$second-color;
    background-color: v.$first-color;
    border-radius: 4px;
    border-color: v.$second-color;
  }

  &__numeration-one {
    margin-top: 3rem;
    text-align: center;
    color: v.$second-bg-color;
  }

  &__numeration-two {
    margin-bottom: 1rem;
    text-align: center;
    color: v.$second-bg-color;
  }

  &__error {
    & h1 {
      width: 80%;
      margin: 0 auto;
      padding-top: 10rem;
      text-align: center;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
    height: 100%;
    padding: 2rem 10rem;
    gap: 1rem;
  }

  &__print {
    width: inherit;
    height: inherit;

    & picture {
      width: inherit;
      height: inherit;
    }

    & img {
      width: inherit;
      height: 90%;
    }
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    & button {
      padding: 0.5rem;
      border-radius: 4px;
      border-color: v.$second-color;
      background-color: v.$first-color;
      color: v.$second-color;
    }
  }

  &__arrows {
    & button {
      position: fixed;
      top: 50%;
      border: none;
      font-size: 3rem;
      background-color: transparent;
      color: v.$second-bg-color;
    }

    & button:hover {
      transform: scale(1.1);
    }
  }

  &__arrowLeft {
    left: 2rem;
  }

  &__arrowRight {
    right: 2rem;
  }
}

.hidden {
  display: none;
}

//Media queries

@media screen and (min-width: 2140px) {
  .movie-cont__bginfo img {
    width: 80%;
  }

  .movie-cont__bgdata {
    width: 75%;
  }

  .movie-cont__list {
    padding: 2rem 20rem;
  }

  .movie-cont__print {
    min-height: 578px;
  }
}

@media screen and (max-width: 2139px) {
}

@media screen and (max-width: 1420px) {
  .movie-cont__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .movie-cont__print {
    min-height: 507px;
  }
}

@media screen and (max-width: 960px) {
  .movie-cont__list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .movie-cont__print {
    min-height: 415px;
  }

  .movie-cont__bginfo img {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .movie-cont__arrowRight {
    right: 0.5rem;
  }

  .movie-cont__bgdata div {
    display: none;
  }

  .movie-cont__list {
    padding: 2rem 6rem 2rem 4rem;
  }

  .movie-cont__print {
    min-height: 415px;
  }

  .movie-cont__arrowLeft {
    left: 1rem;
  }

  #root {
    min-width: 412px;
  }
}
