@use "../variables" as v;

.search {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  gap: 2rem;

  &__form {
    width: 70%;
    margin: 0 auto 1.5rem;
  }

  &__btn {
    padding: 0.2rem;
    border-radius: 4px;
    background-color: v.$second-bg-color;
    color: v.$second-color;
  }

  & a {
    text-decoration: none;
    color: v.$first-color;
  }

  & h1 {
    text-align: center;
  }

  &__input {
    padding: 0.1rem;
    border-radius: 4px;

    &:focus {
      outline: none;
      border: 1px solid v.$second-bg-color;
    }
  }
}
